body {
  margin: 0 8% 0 8%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.grande {
  /* background-color: #463f2dcf; */
  background-color: rgba(255, 255, 255, 0.014);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pequeno {
  background-color: rgba(255, 255, 255, 0.014);
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header div {
  text-align: justify;
  padding: 10px;
}

header img {
  margin: 20px;
}

header div h2 {
  max-width: 500px;
  text-align: left;
}

header div p {
  max-width: 400px;
  text-align: justify;
}

nav {
  overflow: hidden;
  background-color: #463f2dcf;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.578);
  border-radius: 3px;
  display: inline-block;
}

nav a {
  float: right;
  color: #eee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.73rem;
}

nav a:first-child {
  float: left;
  font-size: 0.88rem;
}

nav a:hover {
  color: #acacac;

}

nav a.ativo {
  background-color: #800;
  color: #fff;
}

.principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.FixoNotTopo {
  position: fixed;
  top: 0px;
  width: 84%;
}

.FixoNotTopo+.principal {
  padding-top: 60px;
}

p {
  text-align: justify;
}

.direito {

  text-align: right;
  padding: 15px;
  display: block;
}

.esquerdo {

  text-align: left;
  padding: 15px;
  display: block;
}